@using App.EndPoint.ShopUi.Areas.Admin.Models.ViewModels.User
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@model IEnumerable<RolesViewModel>
@{
    ViewData["Title"] = "لیست نقش ها";


}
<h3 style="float:right">لیست نفش ها</h3>
<div style="float:left">
    <a class="btn btn-success" asp-controller="Roles" asp-action="CreateRoles" asp-area="Admin">جدید  </a>
</div>
<br />
<table class=" table table-striped">
    <thead>
        <tr>
             <th scope="col">ردیف</th>
            <th scope="col" >شناسه نقش</th>
            <th scope="col" >نام نقش</th>
            <th scope="col" >عملیات</th>

        </tr>
    </thead>
      
    
    <tbody>
       @foreach(var Item in Model){
        <tr>
           
        
            <td scope="row"></td>
            <td>@Item.RoleId</td>
            <td>@Item.RoleName</td>
            
            <td>
                <a  class="btn btn-primary"  asp-controller="Roles"  asp-action="UpdateRoles" asp-area="Admin"  asp-route-id="@Item.RoleId">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Roles" asp-action="RemoveRoles" asp-area="Admin" asp-route-id="@Item.RoleId" >
                    حذف
                </a>
            </td>


        </tr>}



    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,Page=> Url.Action("Index",new X.PagedList.Web.Common.PagedListRenderOptions{

    LiElementClasses=new string[]{"Page-item"},
    PageClasses=new string[]{"Page-link"}
 }))

