@using App.EndPoint.AdminUserUi.Models.ViewModels.Product


@model List<ProductReadViewModel>
@{
    ViewData["Title"] ="لیست محصولات ";   
  
}
<h3 style="float:right">لیست محصولات</h3>
<br />
<div style="float:left">
    <a class="btn btn-success" asp-controller="Product" asp-action="InsertProduct">جدید  </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            
           
            <th scope="col" >نام محصول</th>
            <th scope="col">دسته بندی</th>
            <th scope="col">برند</th>
            <th scope="col">مدل</th>
              <th scope="col">اصالت</th>
              <th scope="col">فعال بودن</th>
              <th scope="col">قیمت</th>
              <th scope="col">موجودی</th>
              <th scope="col">اپراتورثبت کننده</th>
              <th scope="col">وضعیت</th>
              <th scope="col">توضیحات</th>

        </tr>
    </thead>
      
    
    <tbody>
       @foreach(var Item in Model){
        <tr>
           
        
           
            <td>@Item.Name</td>
            <td>@Item.CategoryName</td>
            <td>@Item.BrandName</td>
            <td>@Item.ModelName</td>
            <td>@Item.IsOrginal</td>
            <td>@Item.IsActive</td>
            <td>@Item.Price</td>
            <td>@Item.Count</td>
            <td>@Item.SubmitOperatorName</td>
            <td>@Item.StatusName</td>
            <td>@Item.Description</td>
            <td>
                <a  class="btn btn-primary"  asp-controller="Product"  asp-action="UpdateProduct" asp-route-id="@Item.Id">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Product" asp-action="RemoveProduct" asp-route-id="@Item.Id" >
                    حذف
                </a>
            </td>


        </tr>}



    </tbody>
</table>

