@using App.EndPoint.AdminUserUi.Models.ViewModels.Product

@model ProductUpdateViewModel
@{
    ViewData["Title"] = " ویرایش محصولات ";   
}
<h3>ویرایش محصولات </h3>

<form asp-controller="Product" asp-action="UpdateProduct" method="post" >
      <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />

    </div>
         <div  class="form-group">
      <label asp-for="BrandId"  > </label>
        <br />

        <select  asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>

    </div>
     <div  class="form-group">
      <label asp-for="ModelId"  > </label>
        <br />

        <select  asp-for="ModelId" asp-items="@ViewBag.Models" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>

    </div>
     <div  class="form-group"> 
        <label asp-for="Price"  > </label>
      <input   class="form-control" asp-for="Price" />

    </div>
       <div  class="form-group"> 
        <label asp-for="Count"  > </label>
      <input   class="form-control" asp-for="Count" />

    </div>
         <div  class="form-group"> 
        <label asp-for="Description"  > </label>
      <input   class="form-control" asp-for="Description" />

    </div>
         <div  class="form-group"> 
        <label asp-for="IsActive"  > </label>
      <input   class="form-control" asp-for="IsActive" />

    </div>
           <div  class="form-group"> 
        <label asp-for="IsOrginal"  > </label>
      <input   class="form-control" asp-for="IsOrginal" />

    </div>
         <div  class="form-group">
      <label asp-for="SubmitOperatorId"  > </label>
        <br />

        <select  asp-for="SubmitOperatorId" asp-items="@ViewBag.SubmitOperators" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>

    </div>
           <div  class="form-group">
      <label asp-for="StatusId"  > </label>
        <br />

        <select  asp-for="StatusId" asp-items="@ViewBag.Statuses" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>

    </div>

       <div  class="form-group">
      <label asp-for="CategoryId"  > </label>
        <br />

        <select  asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>

    </div>
  
        <div class="form-group">


        <input type="submit" value="ثبت " class="btn btn-primary"  style="float:right"  />
    </div>
    </form>
