@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.Product


@model ProductInsertViewModel
@{
    ViewData["Title"] = "اضافه کردن محصول جدید";   
}
<h3>اضافه کردن محصول جدید</h3>
<form>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"  ></span>

    </div>
         <div  class="form-group">
      <label asp-for="BrandId"  > </label>
        <br />

        <select  asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
          <span asp-validation-for="BrandId"  ></span>
        

    </div>
     <div  class="form-group">
      <label asp-for="ModelId"  > </label>
        <br />

        <select  asp-for="ModelId" asp-items="@ViewBag.Models" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
          <span asp-validation-for="ModelId"  ></span>

    </div>
     <div  class="form-group"> 
        <label asp-for="Price"  > </label>
      <input   class="form-control" asp-for="Price" />
        <span asp-validation-for="Price"  ></span>

    </div>
       <div  class="form-group"> 
        <label asp-for="Count"  > </label>
      <input   class="form-control" asp-for="Count" />
        <span asp-validation-for="Count"  ></span>

    </div>
         <div  class="form-group"> 
        <label asp-for="Description"  > </label>
      <input   class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"  ></span>

    </div>
         <div  class="form-group"> 
        <label asp-for="IsActive"  > </label>
      <input   class="form-control" asp-for="IsActive" />
        <span asp-validation-for="IsActive"  ></span>

    </div>
           <div  class="form-group"> 
        <label asp-for="IsOrginal"  > </label>
      <input   class="form-control" asp-for="IsOrginal" />
        <span asp-validation-for="IsOrginal"  ></span>

    </div>
         <div  class="form-group">
      <label asp-for="SubmitOperatorId"  > </label>
        <br />

        <select  asp-for="SubmitOperatorId" asp-items="@ViewBag.SubmitOperators" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
          <span asp-validation-for="SubmitOperatorId"  ></span>

    </div>
           <div  class="form-group">
      <label asp-for="StatusId"  > </label>
        <br />

        <select  asp-for="StatusId" asp-items="@ViewBag.Statuses" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
         <span asp-validation-for="StatusId"  ></span>

    </div>

    

       <div  class="form-group">
      <label asp-for="CategoryId"  > </label>
        <br />

        <select  asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
         <span asp-validation-for="CategoryId"  ></span>

    </div>
    <div style="float:left; margin-top:5px;   " >
       
        <button type="submit" class="btn btn-primary" asp-action="InsertProduct" asp-controller="Product" asp-area="Admin" formmethod="post"  >ثبت محصول</button>
        <button type="submit" class="btn btn-danger"  asp-action="ReadProduct" asp-controller="Product" asp-area="Admin" >انصراف</button>

    </div>
   




</form>


