@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.Product;

@model List<ProductReadViewModel>
@{
    ViewData["Title"] ="لیست محصولات "; 
    Layout = "_AdminLayout";
    int Count = 1;

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست محصولات
            </div>
              <div style="float:left"> 
                      
             <a class="btn btn-success" asp-controller="Product" asp-action="InsertProduct" asp-area="Admin">جدید  </a>
                   </div>
                       <br />
                 
                      
            <div class="card-body">
               
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>نام محصول</th>
                                <th>دسته بندی محصول</th>
                                <th>برند محصول</th>
                                <th>مدل محصول</th>
                                <th>قیمت محصول</th>
                                <th>وضعیت محصول</th>
                                <th>فعال/غیرفعال محصول</th>
                                <th> ارجینال/فیک</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                   
                        <tbody>

                            @if (Model.Count() > 0)
                            {

                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">@Count</td>
                                        <td class="text-nowrap">
                                            @item.Name
                                        </td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.BrandName</td>
                                        <td>@item.ModelName</td>

                                        <td class ="text-center">@item.Price</td>

                                        <td class="text-center">
                                            <label class="badge btn-block">@item.StatusName</label>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge @(item.IsActive==true?"badge-success":"badge-danger") btn-block">@item.IsActive</label>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge @(item.IsOrginal==true?"badge-success":"badge-danger") btn-block">@item.IsOrginal</label>
                                        </td>


                                        <td class="text-center">
                                            <a asp-route-Id="@item.Id"asp-action="DetailProduct" asp-area="Admin" asp-controller="Product"  class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>

                                            <a asp-action="UpdateProduct" asp-controller="Product" asp-area="Admin"asp-route-Id="@item.Id" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>

                                            <a asp-action="RemoveProduct" asp-controller="Product" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>

                                        </td>
                                    </tr>
                                    Count++;



                                }
                             }
                         
                        </tbody>
                       
                       
                    </table>

                  

                    
                </div>
            </div>
        </div>
    </div>
</div>

